[submodule "backend"]
	path = backend
	url = ./backend
[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "mobileapp"]
	path = mobileapp
	url = git@github.com:Playbits/food_share_point_mobile.git
